In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
import pandas as pd
from selenium.webdriver.common.keys import Keys
import time
import os

driver=webdriver.Chrome()
#url="https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=action"
#url="https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=adventure"
#url="https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=animation"
#url="https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=biography"
url="https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=crime"
driver.get(url)
time.sleep(3)
def click_load_more():
   try:
      load_more_button=driver.find_element(By.XPATH,'//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/div[2]/div/span/button/span/span')
      ActionChains(driver).move_to_element(load_more_button).perform()
      load_more_button.click()
      time.sleep(3)
      return True
   except Exception as e:
      print("Error clicking'Load More'button:",e)
      return False
while click_load_more():
      print("Clicked'Load More'button")

print("No more content to load.")

#driver=webdriver.Chrome()

titles=[]

ratings=[]
votings=[]
durations=[]
movie_items=driver.find_elements(By.XPATH,'//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')
for movie_item in movie_items:
    try:
      title=movie_item.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[1]/a/h3').text
      
      rating=movie_item.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[1]').text

      voting=movie_item.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/span/div/span/span[2]').text
      duration=movie_item.find_element(By.XPATH,'./div/div/div/div[1]/div[2]/div[2]/span[2]').text

      titles.append(title)
    
      ratings.append(rating)
      votings.append(voting)
      durations.append(duration)

    except Exception as e:
       print(f"Error extracting data fpr a movie:{e}")
       continue
driver.quit() 
df = pd.DataFrame({
    'Title':titles,
   
    'Rating':ratings,
    'Voting':votings,
    'Duration':durations
})

In [ ]:
#display(df)

In [ ]:
df.to_csv("Crime.csv", index=False)#Action,Adventure,Animation,Biography

print("CSV file saved successfully!")

CSV file saved successfully!

In [ ]:

df = pd.read_csv('Biography.csv')

df.insert(1, 'Genre', 'Biography')

df.to_csv('Biography_1.csv', index=False)

In [1]:
import pandas as pd
import glob

csv_files = ["Action_1.csv", "Animation_1.csv", "Adventure_1.csv", "Biography_1.csv", "crime_1.csv"]


merged_df = pd.concat((pd.read_csv(file) for file in csv_files), ignore_index=True)

print(merged_df)

                         Title   Genre  Rating   Voting Duration
0         1. Kraven the Hunter  Action     5.4    (46K)    2h 7m
1              2. Gladiator II  Action     6.5   (218K)   2h 28m
2      3. Sonic the Hedgehog 3  Action     6.9    (53K)   1h 50m
3     4. Venom: The Last Dance  Action     6.0   (109K)   1h 50m
4            5. Dune: Part Two  Action     8.5   (614K)   2h 46m
...                        ...     ...     ...      ...      ...
1751  96. Lover Stalker Killer   Crime     7.0    (13K)   1h 30m
1752     97. What Jennifer Did   Crime     6.1    (11K)   1h 27m
1753         98. Bougainvillea   Crime     6.4   (3.1K)   2h 18m
1754           99. Cult Killer   Crime     4.8   (2.7K)   1h 45m
1755    100. The Clean Up Crew   Crime     4.1   (1.1K)   1h 35m

[1756 rows x 5 columns]

In [2]:
merged_df.drop_duplicates(inplace=True)
display(merged_df)

                         Title   Genre  Rating   Voting Duration
0         1. Kraven the Hunter  Action     5.4    (46K)    2h 7m
1              2. Gladiator II  Action     6.5   (218K)   2h 28m
2      3. Sonic the Hedgehog 3  Action     6.9    (53K)   1h 50m
3     4. Venom: The Last Dance  Action     6.0   (109K)   1h 50m
4            5. Dune: Part Two  Action     8.5   (614K)   2h 46m
...                        ...     ...     ...      ...      ...
1751  96. Lover Stalker Killer   Crime     7.0    (13K)   1h 30m
1752     97. What Jennifer Did   Crime     6.1    (11K)   1h 27m
1753         98. Bougainvillea   Crime     6.4   (3.1K)   2h 18m
1754           99. Cult Killer   Crime     4.8   (2.7K)   1h 45m
1755    100. The Clean Up Crew   Crime     4.1   (1.1K)   1h 35m

[1756 rows x 5 columns]

In [3]:
merged_df["Title"] = merged_df["Title"].str.replace(r"^\d+\.\s*", "", regex=True)
display(merged_df)

                      Title   Genre  Rating   Voting Duration
0         Kraven the Hunter  Action     5.4    (46K)    2h 7m
1              Gladiator II  Action     6.5   (218K)   2h 28m
2      Sonic the Hedgehog 3  Action     6.9    (53K)   1h 50m
3     Venom: The Last Dance  Action     6.0   (109K)   1h 50m
4            Dune: Part Two  Action     8.5   (614K)   2h 46m
...                     ...     ...     ...      ...      ...
1751   Lover Stalker Killer   Crime     7.0    (13K)   1h 30m
1752      What Jennifer Did   Crime     6.1    (11K)   1h 27m
1753          Bougainvillea   Crime     6.4   (3.1K)   2h 18m
1754            Cult Killer   Crime     4.8   (2.7K)   1h 45m
1755      The Clean Up Crew   Crime     4.1   (1.1K)   1h 35m

[1756 rows x 5 columns]

In [13]:
import re

def clean_voting_count(votes):
    if isinstance(votes, str):  # Ensure votes is a string
        votes = votes.replace(",", "").strip()  # Remove commas and extra spaces
        votes = re.sub(r"[^\dKM.]", "", votes)  # Remove non-numeric, non-K/M characters
        
        if "M" in votes:
            return int(float(votes.replace("M", "")) * 1000000)
        elif "K" in votes:
            return int(float(votes.replace("K", "")) * 1000)
        else:
            return int(votes)  # Convert to int if pure number
    return 0  # Return None for invalid cases

# Apply to DataFrame
merged_df["Voting"] = merged_df["Voting"].apply(clean_voting_count)
display(merged_df)

                      Title   Genre  Rating  Voting Duration
0         Kraven the Hunter  Action     5.4       0    2h 7m
1              Gladiator II  Action     6.5       0   2h 28m
2      Sonic the Hedgehog 3  Action     6.9       0   1h 50m
3     Venom: The Last Dance  Action     6.0       0   1h 50m
4            Dune: Part Two  Action     8.5       0   2h 46m
...                     ...     ...     ...     ...      ...
1751   Lover Stalker Killer   Crime     7.0       0   1h 30m
1752      What Jennifer Did   Crime     6.1       0   1h 27m
1753          Bougainvillea   Crime     6.4       0   2h 18m
1754            Cult Killer   Crime     4.8       0   1h 45m
1755      The Clean Up Crew   Crime     4.1       0   1h 35m

[1756 rows x 5 columns]

In [8]:
merged_df.to_csv("confirmation.csv", index=False)

In [23]:
import re

def convert_duration(duration):
    if isinstance(duration, str):
        h_m = re.findall(r'(\d+)h|(\d+)m', duration)  # Extract hours & minutes
        hours = int(h_m[0][0]) if h_m and h_m[0][0] else 0
        minutes = int(h_m[1][1]) if len(h_m) > 1 and h_m[1][1] else 0
        return hours * 60 + minutes  # Convert to minutes
    return pd.to_numeric(duration, errors="coerce")

merged_df["Duration"] = merged_df["Duration"].apply(convert_duration).fillna(0).astype(int)
display(merged_df)

,Title,Rating,Voting,Duration,Genre
0,(Pri)sons,5.1,0,100,"crime, action"
1,10 Days of a Curious Man,5.8,0,110,crime
2,10 Lives,5.9,0,88,animation
3,11 Rebels,6.2,0,155,action
4,12 Gaun,6.3,0,147,action
...,...,...,...,...,...
1772,Zoloto Umalty,5.0,0,109,"action, adventure"
1773,Zuckerberg: King of the Metaverse,5.7,0,90,biography
1774,Zuzubalândia: O Filme,5.6,0,60,animation
1775,Zénithal,5.3,0,80,action
1776,¡Qué suerte hemos tenido!,7.5,0,62,biography

In [ ]:
merged_df.to_csv("IMDB_merged_data", index=False)
  # Saves without the index column

In [21]:
merged_df["Genre"] = merged_df["Genre"].str.strip().str.lower()  
merged_df

                          Title   Genre  Rating  Voting  Duration
0             Kraven the Hunter  action     5.4       0       127
1                  Gladiator II  action     6.5       0       148
2          Sonic the Hedgehog 3  action     6.9       0       110
3         Venom: The Last Dance  action     6.0       0       110
4                Dune: Part Two  action     8.5       0       166
...                         ...     ...     ...     ...       ...
2230    Las Hermanas Del Cartel   crime     8.2       0        91
2231         Nacida Para Vengar   crime     8.0       0       102
2232  Beautifully Broken People   crime     8.7       0        75
2233                   Cageling   crime     5.9       0        69
2234  Milk, Rice, and the Blood   crime     9.2       0         0

[2235 rows x 5 columns]

In [9]:
df=pd.read_csv("merged_data.csv")
df = df.groupby(['Title', 'Rating', 'Voting', 'Duration'], as_index=False)['Genre'].apply(lambda x: ', '.join(set(x)))

print("\nAfter Cleaning:")
print(df)

After Cleaning:
                                  Title  Rating  Voting  Duration  \
0                             (Pri)sons     5.1     258       100
1              10 Days of a Curious Man     5.8    1200       110
2                              10 Lives     5.9    1800        88
3                             11 Rebels     6.2     285       155
4                               12 Gaun     6.3     881       147
...                                 ...     ...     ...       ...
1772                      Zoloto Umalty     5.0     102       109
1773  Zuckerberg: King of the Metaverse     5.7     258        90
1774              Zuzubalândia: O Filme     5.6      10        60
1775                           Zénithal     5.3      70        80
1776          ¡Qué suerte hemos tenido!     7.5      16        62

                  Genre
0         Action, crime
1                 crime
2             Animation
3                Action
4                Action
...                 ...
1772  Adventure, Action
1773          Biography
1774          Animation
1775             Action
1776          Biography

[1777 rows x 5 columns]

In [10]:
df.to_csv("imdb_cleaned_data.csv", index=False)

In [28]:
import mysql.connector
conn = mysql.connector.connect(
    host="localhost",       
    user="root", 
    password="" ,        
    database="IMDB_data"  
)

cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS IMDB_movie_data(
    id INT AUTO_INCREMENT PRIMARY KEY,
   Title VARCHAR(255),
    Genre VARCHAR(50),
    Rating FLOAT,
    Voting INT,
    Duration INT
)
""")
conn.commit()
for index, row in merged_df.iterrows():
    sql = """
    INSERT INTO scrapped_data(Title, Genre, Rating, Voting, Duration)
    VALUES (%s, %s, %s, %s, %s)
    """
    val = (row['Title'], row['Genre'], row['Rating'], row['Voting'], row['Duration'])

    cursor.execute(sql, val)  


conn.commit()
print(cursor.rowcount, "records inserted.")

1 records inserted.